<template name="synth">
  <h2>Synth</h2>
  <canvas id="oscilloscope"></canvas>
  <label>
    <input type="range" min="0" max="200" value="{{vibratoDepth}}" id="vibrato-depth"/>
    Vibrato Depth ({{vibratoDepth}})
  </label>
  <label>
    <input type="range" min="0" max="10" step="0.1" value="{{vibrato}}" id="vibrato-rate"/>
    Vibrato Rate ({{vibrato}}Hz)
  </label>
  <label>
    <input type="range" min="0" max="2" step="0.1" value="{{attack}}" id="attack"/>
    Attack {{attack}}s
  </label>
  <label>
    <input type="range" min="0" max="2" step="0.1" value="{{release}}" id="release"/>
    Release {{release}}s
  </label>
  {{> Reverb reverbFx}}
  {{> Gain gain}}
  {{> DynamicsCompressor dynamicsCompressor}}
  <label>
    Vowel
    <select name="vowel">
      {{#each vowels}}
        <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>
  </label>
  {{#each bandpasses}}
    {{> bandpass}}
  {{/each}}
  <div id="keyboard">
  </div>
</template>
