<template name="synth">
  <h2>Synth</h2>
  <canvas id="oscilloscope"></canvas>
  <button class="btn btn-success" name="start">{{synthState}}</button>
  <label>
    <input type="range" min="40" max="880" value="{{frequency}}" name="frequency"/>
    Frequency ({{frequency}}Hz)
  </label>
  <label>
    <input type="range" min="0" max="10" value="{{vibrato}}" name="vibrato"/>
    Vibrato ({{vibrato}}Hz)
  </label>
  <label>
    <input type="range" min="-20" max="0" value="{{gain}}" name="gain"/>
    Gain ({{gain}}db)
  </label>
  <label>
    Vowel
    <select name="vowel">
      {{#each vowels}}
        <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>
  </label>
  {{#each bandpasses}}
    {{> bandpass}}
  {{/each}}
  <div id="keyboard">
  </div>
</template>
